/* Dark container */
.cricket-container {
  padding: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #1c2833;
  min-height: 100vh;
  color: #fff;
}

.cricket-container h1 {
  text-align: center;
  color: #00aaff;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Series card */
.series-card {
  margin: 20px 0;
  padding: 20px;
  background: #1c2833;
  border-radius: 12px;
}

/* Series title */
.series-card h3 {
  margin-bottom: 15px;
  color: #00c3ff;
  font-size: 1.3rem;
}

/* Match card */
.match-card {
  margin: 12px 0;
  padding: 15px;
  border-radius: 10px;
  background: #0f2027;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.match-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #00aaff, 0 0 30px rgba(0, 170, 255, 0.6);
}

.match-card h4 {
  margin-bottom: 10px;
  color: #fff;
}